body {
	margin: 20px;
	font-family: georgia;
}

.avatar {
	width: 150px;
	border-radius: 10%;
}

.card {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	color: #2b2839;
	background-color: #ff9f1c;
	border-bottom: 2px solid #d8cefe;
	box-shadow: 10px 10px #adb5bd;
}

.dottedline {
	border: 1px dotted blue;
}
